# Core server
fastapi
uvicorn

# Database
pymongo

# Environment variables
python-dotenv

# PDF generation
fpdf

# AI / API clients
openai
groq

# Data handling
numpy
scikit-learn
pandas

# Utils
requests
joblib
python-multipart

# Optional (for Render)
gunicorn
